/* universal style */

html, body {
  background-color: seashell;
  color: seashell;
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  opacity: 0.9;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
}

section {
  margin: 0 auto 100px;
  width: 80%;
}

/* header */

header {
  background-color: #000;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 50px;
  padding: 10px;
}

nav {
  padding: 20px 0;
}

nav span {
  padding: 0 10px;
}

.container {
  padding-top: 70px;
  width: 100%;
}

/* mission */

#mission {
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.headline {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 130px;
  width: 100%;
}

/* featured */

#featured {
  background-color: #000;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tea-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea {
  margin: 15px;
  transition: all 550ms ease-in;
}

.tea:hover {
  transform: scale(1.1);
}

/* locations */

#locations {
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.address-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  margin: 15px 0;
  height: 250px;
  width: 250px;
  transition: all 550ms ease-in;
}

.address:hover {
  transform: scale(1.1);
}

.address span {
  display: block;
  padding: 20px 0;
}

/* footer */

footer {
  color: #000;
}

.contact {
  height: 150px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
