body {
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

/* header */

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  height: 50px;
  padding: 10px;
}
nav {
  padding: 20px 0;
}

nav span {
  padding: 0 10px;;
}

.container {
  padding-top: 70px;
  width: 100%;
}

/* mission */

#mission {
  background-image: url(../images/img-mission-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
}

.headline {
  background-color: black;
  height: 130px;
  width: 100%;
}

/* featured */

#featured {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.tea-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea {
  padding: 0 15px;
}

.tea h4 {
  margin-top: 10px;
}

/* locations */

#locations {
  background-image: url(../images/img-locations-background.jpg);
  margin: 0 auto;
  height: 500px;
  width: 1200px;
}

#locations h2 {
  padding-top: 50px;
}

.address-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.address {
  background-color: black;
  height: 300px;
  width: 300px;
}

.address span {
  display: block;
  padding: 20px 0;
}

/* footer */

.contact {
  height: 200px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
