body {
  margin: 0;
  padding: 0;
}

a {
  color: seashell;
}

a:visited {
  color: seashell;
}

.container {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  width: 100%;
}

/* header */
header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  height: 69px;
}

.logo {
  height: 50px;
}

/* mission */
#mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
}

.headline {
  background-color: black;
  height: 130px;
  width: 100%;
}

/* featured */
#featured {
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;;
}

.tea img {
  width: 300px;
}

/* locations */
#locations {
  background-image: url("../images/img-locations-background.jpg");
  margin: 0 auto;
  min-height: 500px;
  width: 1200px;
}

.address {
  display: flex;
  justify-content: space-around;
}

.address-box {
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

/* footer */
.contact {
  height: 200px;
}

.copyright {
  padding-left: 20px;
  text-align: left;
}
